#container {
  display: flex;
  flex-direction: row;
  height: 80vh;
  max-height: 600px;
  min-height: 200px;
}

#chess-aa {
  box-sizing: border-box;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 5px
}

#chess-aa-enginebar {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 3em;
  height: 100%;
  font-size: 16px;
  padding: 5px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#variation-utilities {
  box-sizing: border-box;
  padding: 5px;
  flex: 0 0 auto;
  width: 400px;
}

#chess-aa-variationbox {
  height: 50%;
  font-size: 14px;
  font-family: sans-serif;
  overflow: auto;
}

#chess-aa-enginevariation {
  height: 50%;
  font-size: 14px;
  font-family: sans-serif;
}

#lichess-utilities {
  flex: 0 0 auto;
  width: 300px;
  padding: 5px
}

#chess-aa-openingexplorer {
  overflow: auto;
  height: 50%;
  padding: 5px 0
}

#chess-aa-tablebase {
  padding: 5px 0
}

dialog {
  border: none;
  border-radius: 5px;
}